.calendar {
  .day .hour {
    border: 1px solid;
  }

  .hour {
    height: 50px;

    &:last-child {
      border-bottom: 1px solid #333;
    }
  }
}

.flex {
  display: flex;
}

.calendar .dayView {
  width: 100%;
}

.dayContainer {
  border: 1px solid;
}
